.wrapper {
  display: flex;
  background-color: var(--color-background);
}

.wrapper>* {
  flex: 1 100%;
}

.page {
  margin-left: 15%;
  margin-right: 15%;
  padding: 1rem;
  background-color: var(--color-background);
  font-family: var(--font-family-body);
  text-align: justify;
}

body {
  margin: 0;
  overflow-x: hidden; /* Prevents the 'ghost' scrollbar during animation */
}

.home {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-spacing-xxlarge);
}

.home > .reveal-wrapper {
  flex: 1; /* This takes the 1 part of the ratio */
  display: flex; /* Ensures the child .info can still fill this space */
  min-width: 300px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers the children (Pic and Content) */
  padding: var(--size-spacing-large);
  border: #333 2px solid;
}

.info-content {
  /* This prevents the text from stretching to the full width of the box */
  max-width: fit-content; 
  
  /* Centers the block itself if the container is wider than the text */
  margin-left: auto;
  margin-right: auto;

  /* Ensures the actual text inside is left-aligned */
  text-align: left; 
}

.profile-pic-container {
  width: 100%;
  text-align: center;
}

.profile-pic {
  width: 250px;
  height: auto;
  border-radius: 50%;
}

.contact-item {
  display: flex;
  gap: 1rem;
  justify-content: flex-start; /* Keeps labels and links pushed to the left */
}

.label {
  width: 80px;
  font-weight: bold;
}

.about-me {
  margin-top: 0.5rem;
  flex: 2.5;
}

.pdf {
  width: 75%;
  height: 900px;
  display: inline-block;
}

.center {
  text-align: center;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.google-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

li {
  list-style: none;
  margin-bottom: var(--size-spacing-medium);
}

ul {
  margin-top: var(--size-spacing-medium);
  padding-left: var(--size-spacing-xlarge);
}

i[data-lucide], 
svg.lucide {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  stroke-width: 2;
  stroke: currentColor; /* This makes the icon match the text color */
}

svg.lucide {
  width: 18px !important;
  height: 18px !important;
  display: inline-block;
  flex-shrink: 0; /* Prevents the icon from squishing in a flexbox */
  stroke-width: 2px;
  /* Use currentColor so it automatically matches your text color */
  stroke: currentColor; 
}