:root {
    --color-text: #333;

    --size-spacing-small: 0.25rem;
    --size-spacing-medium: 0.5rem;
    --size-spacing-large: 1rem;
    --size-spacing-xlarge: 2rem;

    --size-type-body: 1rem;
    --size-type-mlarge: 1.25rem;
    --size-type-large: 1.5rem;
    --size-type-xlarge: 2rem;
    --size-type-xxlarge: 2.5rem;

    --font-family-body: Inter, sans-serif;
    --font-family-display: Play, serif;

    --font-line-height-body: 1.5;
    --font-line-height-display: 1.125;

    --font-weight-normal: 400;
    --font-weight-light: 200;
    --font-weight-bold: 700;
    
}

body.dark-mode {
    --color-text: #fff;
}